/**
*	Modul: pagecloner - backend.css - Talgos
*/
.introtext {margin:15px 0;}
.pageslist img {display: block;}
ul, li {list-style: none;margin: 0;padding: 0;}
.pagelist {display: block;}
form.pagecloner {padding-top:14px !important;}
form.pagecloner label {min-width:110px;display:inline-block;}
table.pagecloner_pagelist.head {background-color: #ddd;margin:0;padding:20px 0;}
table.pagecloner_pagelist.head td {padding:0;}
table.pagecloner_pagelist {border-collapse:separate;border-spacing:0;background-color:#ddd;width:690px;padding:0;}
td.pagelist_toggle {width: 23px;}
table.pagecloner_pagelist.head td.toggle {width:23px;padding:10px 10px 10px 0;}
td.pl_title {width:150px;padding:10px 0;font-weight:bold;}
td.pagelist_title, td.pagelist_menu, td.pagelist_visi, table.pagecloner_pagelist.head td.pg_title { width:150px;padding:10px 0;}
td.pagelist_visi {width:90px;padding:10px 30px;}
td.pagelist_toggle {padding:10px;}
td.pagelist_toggle img {padding:0 0 0 5px;}
div.ui.header {margin-top:20px;}
.hidden {display: none;}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width: 1220px) {
.container table.pagecloner_pagelist.head td, .container table.pagecloner_pagelist td {display: inline-block;padding:10px 0;}
table.pagecloner_pagelist.head td.toggle {width:23px;padding:10px 10px 10px 0;}
.container table.pagecloner_pagelist td.pagelist_toggle {padding:10px;}
.content .pages_list td:first-child {display:inline-block;}
table.pagecloner_pagelist td.pagelist_visi {width:90px;padding:10px 30px;}
table.pagecloner_pagelist img {max-width: 16px;width: 16px;height: auto;}
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width: 810px) {
table.pagecloner_pagelist {width:100%;}
table.pagecloner_pagelist.head td.toggle {width:10%;padding:10px 10px 10px 0;}
td.pagelist_toggle {width:10%;}
td.pl_title {width:52%;}
td.pl_title#visi {width:32%;}
td.pagelist_title, td.pagelist_menu, table.pagecloner_pagelist.head td.pg_title { width:52%;}
td.pagelist_visi {width:32%;padding:10px 1%;}
.container table.pagecloner_pagelist.head td.pl_title:nth-child(2), .container table.pagecloner_pagelist td.pagelist_menu {display:none;}
}